.registration{
  &_container{
    width: 380px;
    background-color: #fff;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 50px 36px 50px 36px;
    box-sizing:border-box;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
    align-items: center;
  }
  &_title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  &_header{
    color:#262626;
    font-family: 'Arial';
    font-size: 14px;
  }
  &_terms{
    display: flex;
    margin-bottom: 20px;
    color:#595959;
    font-family: 'Arial';
    font-size: 14px;
    &_box{
      margin-top: 3px;
      margin-right: 8px;
      height: 16px;
      width: 16px;
    }
  }
  &_submit{
    width: 100%;
    height: 40px;
    background: #1890FF;
    border-radius: 4px;
    color: #fff;
    font-family: 'Arial';
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
    cursor:pointer;
    &[disabled]{
      background-color: #68b6ff;
      cursor:auto;
    }
  }
  &_registration{
    &_text{
      text-align: center;
      font-size: 12px;
      color: #8C8C8C;
    }
    &_redirect{    
      font-size: 12px;
      color: #1890FF;
      text-decoration: none;
    }
  }
  &_message{
    height: 20px;
    justify-content: center;
  }
}
.input_error{
  border: 1px solid #F5222D;
  border-radius: 4px;
}

form{
  display: flex;
  flex-direction: column;
}
input{
  width: 100%;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
}
.errors{
  color: #f5222d;
  font-size:12px;
}
.success{
  color: #05c318;
  font-size:12px;
}
label{
  margin-bottom: 35px;
  box-sizing: border-box;
  height: 60px;
}